
html,
body {
  padding: 0;
  margin: 0;
  background-color: #00b7b9;
  height: 100%;
}
.rockpollito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rockpollito .pixel img {
  height: 200px;
}

.text{
	font-family: Open Sans;
	font-size: 36px;
	color: #ffffff;
}